
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbars in Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}
